:root {
    --bg-color: #2c2c3e;
    --text-color: #fefefe;
    --inactive-color: #3a3a47;
    --accent-color: #BB90E9;
    --dark-accent: #5F31A2;
    --circle-fill: linear-gradient(20deg, #773DB9, #5F31A2);
}

body,
html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.visible {
    opacity: 1;
    transition: all 1s;
}

.controls {
    position: absolute;
    left: 16px;
    top: 16px;

    display: flex;
    flex-direction: column;

    width: 240px;

    color: var(--text-color);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    transition: opacity 5s;
}

.controls .counter {
    background-color: var(--accent-color);
    cursor: pointer;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 3rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.circle {
    border-radius: 100%;
    height: min(25vw, 25vh);
    width: min(25vw, 25vh);

    background: var(--circle-fill);
    border: 0.25rem solid var(--accent-color);
}

.circle.animated {
    animation-name: breath;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.intro {
    animation-name: fadeIn;
    animation-duration: 5s;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0;
        filter: blur(2px);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.step {
    padding: 12px;
    margin-bottom: 4px;
    border-radius: 5px;
    display: flex;
    font-size: 1rem;
}

.step .title {
    flex-grow: 1;
}

.step .duration {
    height: 5px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 7px 10px;
}