/* General Reset & Body */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #0e1117;
    color: #ffffff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1s ease forwards;
}

/* Content Fade-in */
.content {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 1s ease forwards;
    animation-delay: 1.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Description */
.content p {
    color: #aaa;
    margin-bottom: 2rem;
}

/* Link Buttons */
.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: white;
    border: 2px solid #AC94C9;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s ease;
}

a:hover {
    background: #7954A6;
}

footer {
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.8rem;
    color: #666;
}

footer a {
    border: none;
    padding: 0;

    &:hover {
        background: none;
    }
}

footer.delayed-fade {
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.8rem;
    color: #666;

    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 1s ease forwards;
    animation-delay: 2.5s;
}

/* Animations */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
