.circle.animated {
    animation-duration: 11s;
}

@keyframes breath {
    50% {
        transform: scale(2.0);
    }
}

.step .duration.w55 {
    width: 55px;
}

.step.animate-inhale {
    animation-name: inhale;
    animation-duration: 11s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.step.animate-exhale {
    animation-name: exhale;
    animation-duration: 11s;
    animation-delay: 5.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes inhale {
    0%, 60%, 100% {
        color: var(--inactive-color);
        background-color: transparent;
    }

    10%, 50% {
        color: var(--text-color);
        background-color: var(--dark-accent);
    }
}

@keyframes exhale {
    0%, 60%, 100% {
        color: var(--inactive-color);
        background-color: transparent;
    }

    10%, 50% {
        color: var(--text-color);
        background-color: var(--dark-accent);
    }
}
