.circle.animated {
    animation-duration: 19s;
}

@keyframes breath {
    21% {
        transform: scale(2.0);
    }

    58% {
        transform: scale(2.0);
    }
}

.step .duration.w40 {
    width: 40px;
}

.step .duration.w70 {
    width: 70px;
}

.step .duration.w80 {
    width: 80px;
}

.step.animate-inhale {
    animation-name: inhale;
    animation-duration: 19s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes inhale {
    0%, 18%, 100% {
        color: var(--inactive-color);
        background-color: transparent;
    }

    5%, 13% {
        color: var(--text-color);
        background-color: var(--dark-accent);
    }
}

.step.animate-hold {
    animation-name: hold;
    animation-duration: 19s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes hold {
    0%, 18%, 60%, 100% {
        color: var(--inactive-color);
        background-color: transparent;
    }

    23%, 55% {
        color: var(--text-color);
        background-color: var(--dark-accent);
    }
}

.step.animate-exhale {
    animation-name: exhale;
    animation-duration: 19s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes exhale {
    0%, 60%, 95%, 100% {
        color: var(--inactive-color);
        background-color: transparent;
    }

    65% {
        color: var(--text-color);
        background-color: var(--dark-accent);
    }
}


