.circle {
    background-color: rgba(255, 255, 255, 0.20);
    border: 2px solid white;
}

.circle.animated {
    animation-duration: 19s;
}

@keyframes breath {
    21% {
        transform: scale(2.0);
        border: 2px solid palegoldenrod;
        background-color: rgba(238, 232, 170, 0.2); /* gold */
    }

    58% {
        transform: scale(2.0);
        border: 2px solid palegoldenrod;
        background-color: rgba(238, 232, 170, 0.2); /* gold */
    }
}

.step .duration.w40 {
    width: 40px;
}

.step .duration.w70 {
    width: 70px;
}

.step .duration.w80 {
    width: 80px;
}

.step.animate-inhale {
    animation-name: inhale;
    animation-duration: 19s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes inhale {
    21% {
        border-color: palegoldenrod;
        background-color: rgba(238, 232, 170, 0.2); /* gold */
    }

    22% {
        border-color: white;
        background-color: rgba(255, 255, 255, 0.20);
    }
}

.step.animate-hold {
    animation-name: hold;
    animation-duration: 19s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes hold {
    20% {
        border-color: white;
        background-color: rgba(255, 255, 255, 0.20);
    }

    21% {
        border-color: palegoldenrod;
        background-color: rgba(238, 232, 170, 0.2); /* gold */
    }

    58% {
        border-color: palegoldenrod;
        background-color: rgba(238, 232, 170, 0.2); /* gold */
    }

    59% {
        border-color: white;
        background-color: rgba(255, 255, 255, 0.20);
    }
}

.step.animate-exhale {
    animation-name: exhale;
    animation-duration: 19s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes exhale {
    58% {
        border-color: white;
        background-color: rgba(255, 255, 255, 0.20);
    }

    /* 58 + 5, 5% = 1 sec delay*/
    63% {
        border-color: palegoldenrod;
        background-color: rgba(238, 232, 170, 0.2); /* gold */
    }

}


